
# Fake News Classifier using NLP

Develop a machine learning program to identify when an article might be fake news. Run by the UTK Machine Learning Club.

dataset: https://www.kaggle.com/c/fake-news/overview

train.csv: A full training dataset with the following attributes:

id: unique id for a news article
title: the title of a news article
author: author of the news article
text: the text of the article; could be incomplete
label: a label that marks the article as potentially unreliable
1: unreliable
0: reliable
test.csv: A testing training dataset with all the same attributes at train.csv without the label.

submit.csv: A sample submission that you can

## Import the Libraries

In [1]:
import nltk
import numpy as np
import pandas as pd

## Exploring the Dataset

In [2]:
dataset = pd.read_csv('train.csv')
dataset.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
# calculate the length of rwos and columns
print("Input file has {} rows and {} columns".format( len(dataset), 
                                                     len(dataset.columns)))

Input file has 20800 rows and 5 columns

In [4]:
# how many are fake news and normal news
print("Out of {} rows there are {} are normal news and {} are fake news ".format( len(dataset), 
                                                                         len(dataset[dataset['label']==0]),
                                                                         len(dataset[dataset['label']==1] )))

Out of 20800 rows there are 10387 are normal news and 10413 are fake news

In [5]:
dataset.describe()

                 id         label
count  20800.000000  20800.000000
mean   10399.500000      0.500625
std     6004.587135      0.500012
min        0.000000      0.000000
25%     5199.750000      0.000000
50%    10399.500000      1.000000
75%    15599.250000      1.000000
max    20799.000000      1.000000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
id        20800 non-null int64
title     20242 non-null object
author    18843 non-null object
text      20761 non-null object
label     20800 non-null int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [7]:
# removing NAN values
dataset= dataset.dropna()

In [8]:
# reset index
dataset.reset_index(inplace=True)

In [9]:
# importing the libraries for cleaning the text
import string
string.punctuation
import re
stopword= nltk.corpus.stopwords.words('english')
ps= nltk.PorterStemmer()

In [10]:
def clean_text(text):
    text= "".join ([ char for char in text if char not in string.punctuation ])
    tokens= re.findall('[a-zA-Z]+',text)
    text = ([ps.stem(word.lower()) for word in tokens if word not in stopword])
    return text

dataset['Clean_text']=dataset['text'].apply(lambda x: clean_text(x) )

## Apply Count Vectorizer

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

In [12]:
count_vect= CountVectorizer(analyzer=clean_text)
X_count= count_vect.fit_transform(dataset['text'])

In [13]:
print(X_count.shape)
print(count_vect.get_feature_names())

(18285, 27)
[' ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [14]:
X_counts_df= pd.DataFrame(X_count.toarray())

In [15]:
X_counts_df.columns= count_vect.get_feature_names()
X_counts_df.head()

,,a,b,c,d,e,f,g,h,i,...,q,r,s,t,u,v,w,x,y,z
0,465,204,47,136,76,295,61,42,88,191,...,0,192,112,226,71,37,43,8,26,16
1,390,176,34,87,86,228,28,41,54,166,...,3,157,147,162,55,22,45,2,22,3
2,724,336,57,174,154,438,67,92,113,351,...,15,305,235,281,114,47,76,5,32,0
3,326,165,26,69,44,156,34,45,64,198,...,0,116,110,146,54,27,2,1,6,3
4,88,50,6,15,14,47,8,7,17,50,...,0,52,28,48,15,8,14,1,3,0

## Apply TF-IDF Vectorizer

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vect= TfidfVectorizer(analyzer=clean_text)
X_count= tfidf_vect.fit_transform(dataset['text'])
X_count

In [ ]:
print(X_count.shape)
print(tfidf_vect.get_feature_names())

In [ ]:
X_counts_df= pd.DataFrame(X_count.toarray())
X_counts_df.columns= tfidf_vect.get_feature_names()
X_counts_df

## Building Machine Learning Classifiers: Evaluate Random Forest with GridSearchCV

In [ ]:
import nltk
import pandas as pd
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
import string

stopwords = nltk.corpus.stopwords.words('english')
ps = nltk.PorterStemmer()

data = pd.read_csv("train.tsv")

def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.findall('[a-zA-Z]+', text)
    text = [ps.stem(word) for word in tokens if word not in stopwords]
    return text

# TF-IDF
tfidf_vect = TfidfVectorizer(analyzer=clean_text)
X_tfidf = tfidf_vect.fit_transform(data['text'])
X_tfidf_feat = pd.DataFrame(X_tfidf.toarray(), axis=1)

# CountVectorizer
count_vect = CountVectorizer(analyzer=clean_text)
X_count = count_vect.fit_transform(data['text'])
X_count_feat =pd.DataFrame(X_count.toarray(), axis=1)

X_count_feat.head()

In [ ]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
rf = RandomForestClassifier()
param = {'n_estimators': [10, 150, 300],
        'max_depth': [30, 60, 90, None]}

gs = GridSearchCV(rf, param, cv=5, n_jobs=-1)
gs_fit = gs.fit(X_tfidf_feat, data['label'])
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]

In [ ]:
rf = RandomForestClassifier()
param = {'n_estimators': [10, 150, 300],
        'max_depth': [30, 60, 90, None]}

gs = GridSearchCV(rf, param, cv=5, n_jobs=-1)
gs_fit = gs.fit(X_count_feat, data['label'])
pd.DataFrame(gs_fit.cv_results_).sort_values('mean_test_score', ascending=False)[0:5]